* {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#meni {
  width: 100%;
  height: 70px;
  padding-top: 15px;
  position: fixed;
}

#meni .container {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#meni .container #logo {
  width: 15%;
  height: 80%;
  margin: 5px auto;
  text-align: center;
}

#meni .container #logo a {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#meni .container #logo a:hover {
  color: #706e6e;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#meni .container #nav-bar {
  width: 50%;
  height: 80%;
  margin: 5px auto;
}

#meni .container #nav-bar ul {
  list-style-type: none;
}

#meni .container #nav-bar ul li {
  float: left;
  margin-left: 55px;
  margin-top: 10px;
}

#meni .container #nav-bar ul li a {
  color: white;
  text-decoration: none;
}

#meni .container #nav-bar ul li a:hover {
  color: gray;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.boja {
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 111;
  -webkit-transition: 8s;
  transition: 8s;
}

.container {
  width: 80%;
  margin: 0px auto;
}

#pocetak {
  width: 100%;
  height: 700px;
  background-image: url(../img/pocetak.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#pocetak #intro {
  width: 30%;
  height: 200px;
  position: relative;
  top: 300px;
  left: 50px;
  text-align: center;
  color: white;
  padding: 20px;
}

#pocetak #intro p {
  font-size: 17px;
  padding: 10px;
}

#pocetak #intro .name {
  font-size: 40px;
  padding-bottom: 40px;
}

#pocetak #intro .name span {
  color: blue;
}

#pocetak #intro .it-student {
  background-color: rgba(0, 0, 255, 0.2);
  width: 50%;
  height: 40px;
  border-radius: 20px;
  margin: 0px auto;
}

#pocetak #intro .it-student p {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}

#predstavljanje {
  width: 80%;
  margin: 0px auto;
}

#predstavljanje .container {
  height: 400px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#predstavljanje .container .desno {
  width: 35%;
  height: inherit;
  border: 5px solid blue;
}

#predstavljanje .container .desno #slika {
  width: 100%;
  height: 100%;
  position: relative;
  top: 22px;
  right: 22px;
  background-image: url(../img/mojaslika.jpg);
  background-size: cover;
}

#predstavljanje .container .levo {
  width: 50%;
  height: 427px;
  padding: 5px;
}

#predstavljanje .container .levo .ime {
  font-size: 50px;
  color: #706e6e;
}

#predstavljanje .container .levo .plava {
  color: blue;
  margin-top: 20px;
  font-size: 25px;
}

#predstavljanje .container .levo .tekst {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #8a8686;
  line-height: 25px;
}

#predstavljanje .container .levo .tackica {
  margin-top: 12px;
  color: #706e6e;
}

#predstavljanje .container .levo .tackica .fa-circle-o {
  font-size: 15px;
  color: blue;
}

#predstavljanje .container .levo .tackica .bold {
  color: black;
  font-weight: bold;
}

#predstavljanje .container .levo #cv {
  width: 30%;
  height: 40px;
  border: 3px solid blue;
  border-radius: 6px;
  margin-top: 25px;
  text-align: center;
}

#predstavljanje .container .levo #cv a {
  color: blue;
  text-decoration: none;
  position: relative;
  top: 10px;
}

#predstavljanje .container .levo #cv a:hover {
  color: #303030;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.fa-circle-dashed {
  color: blue;
}

#skills {
  width: 80%;
  margin: 0px auto;
  margin-top: 120px;
}

#skills .container {
  height: 400px;
  text-align: center;
}

#skills .container h2 {
  color: black;
  font-size: 45px;
}

#skills .container .skills-bar {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

#skills .container .skills-bar .skills-bar-tabla {
  width: 45%;
  height: 100%;
}

#skills .container .skills-bar .skills-bar-tabla .skil {
  text-align: left;
  width: 100%;
  height: 20%;
  margin-top: 15px;
}

#skills .container .skills-bar .skills-bar-tabla .skil .sirina {
  width: 100%;
  height: 20px;
  background-color: #a0a0a0;
  border-radius: 20px;
  margin-top: 15px;
}

#skills .container .skills-bar .skills-bar-tabla .skil .sirina .w {
  background-color: blue;
  text-align: center;
  border-radius: 20px;
  color: white;
  height: inherit;
}

#skills .container .skills-bar .skills-bar-tabla .skil .sirina .w-86 {
  width: 86%;
}

#skills .container .skills-bar .skills-bar-tabla .skil .sirina .w-70 {
  width: 70%;
}

#skills .container .skills-bar .skills-bar-tabla .skil .sirina .w-90 {
  width: 90%;
}

#skills .container .skills-bar .skills-bar-tabla .skil .sirina .w-75 {
  width: 75%;
}

#skills .container .skills-bar .skills-bar-tabla .skil .sirina .w-99 {
  width: 99%;
}

#skills .container .skills-bar .skills-bar-tabla .skil .sirina .w-81 {
  width: 81%;
}

#skills .container .skills-bar .skills-bar-tabla .skil .sirina .w-95 {
  width: 95%;
}

#edu-exp {
  width: 80%;
  margin: 0px auto;
  margin-top: 150px;
}

#edu-exp .container {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#edu-exp .container .edu-exp-div {
  width: 48%;
  height: inherit;
}

#edu-exp .container .edu-exp-div h3 {
  font-size: 30px;
  font-weight: lighter;
}

#edu-exp .container .edu-exp-div .blok {
  width: 100%;
  height: 35%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#edu-exp .container .edu-exp-div .blok .line {
  width: 10%;
  height: 100%;
}

#edu-exp .container .edu-exp-div .blok .line .krug {
  margin: 0px auto;
  width: 20px;
  height: 10%;
  background-color: #706e6e;
  border-radius: 50px;
}

#edu-exp .container .edu-exp-div .blok .line .active {
  background-color: blue;
}

#edu-exp .container .edu-exp-div .blok .line .line-display {
  margin: 0px auto;
  width: 2px;
  height: 90%;
  background-color: #a0a0a0;
}

#edu-exp .container .edu-exp-div .blok .details {
  width: 88%;
  height: 100%;
}

#edu-exp .container .edu-exp-div .blok .details .godine, #edu-exp .container .edu-exp-div .blok .details .plavo {
  width: 40%;
  height: 20%;
  margin-bottom: 10px;
  border-radius: 70px 0px 150px 70px;
  text-align: center;
  color: white;
}

#edu-exp .container .edu-exp-div .blok .details .godine p, #edu-exp .container .edu-exp-div .blok .details .plavo p {
  position: relative;
  top: 10px;
  font-size: 18px;
}

#edu-exp .container .edu-exp-div .blok .details .godine {
  background-color: #706e6e;
}

#edu-exp .container .edu-exp-div .blok .details .plavo {
  background-color: blue;
}

#edu-exp .container .edu-exp-div .blok .details .details-text {
  width: 100%;
  height: 70%;
  background-color: #f2f2f2;
}

#edu-exp .container .edu-exp-div .blok .details .details-text h4 {
  padding-top: 10px;
  margin-left: 20px;
  font-size: 25px;
  font-weight: lighter;
}

#edu-exp .container .edu-exp-div .blok .details .details-text .naslov {
  color: blue;
  margin-top: 10px;
  margin-left: 20px;
}

#edu-exp .container .edu-exp-div .blok .details .details-text .p-text {
  color: #706e6e;
  margin-top: 20px;
  margin-left: 20px;
}

#services {
  width: 80%;
  margin: 0px auto;
  margin-top: 100px;
}

#services .container {
  height: 400px;
  text-align: center;
}

#services .container .small-service {
  width: 12%;
  height: 35px;
  background-color: rgba(0, 0, 255, 0.2);
  margin: 0px auto;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#services .container .small-service p {
  color: blue;
  position: relative;
  top: 7px;
}

#services .container h2 {
  font-size: 45px;
  font-weight: lighter;
  color: #706e6e;
  margin-bottom: 20px;
}

#services .container .services-all {
  width: 100%;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#services .container .services-all .service-block {
  width: 23%;
  height: 100%;
}

#services .container .services-all .gore, #services .container .services-all .dole {
  width: 100%;
  height: 49%;
}

#services .container .services-all .gore .ikonica {
  width: 50%;
  height: 80%;
  margin: 10px auto;
  background-color: #f2f2f2;
  border-radius: 500px;
}

#services .container .services-all .gore .ikonica i {
  font-size: 40px;
  margin-top: 30px;
}

#services .container .services-all .dole h4 {
  color: blue;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: lighter;
}

#services .container .services-all .dole p {
  color: #706e6e;
}

#projects {
  width: 80%;
  margin: 0px auto;
  margin-top: 200px;
}

#projects .container {
  height: 450px;
  text-align: center;
}

#projects .container h2 {
  font-weight: lighter;
  font-size: 40px;
}

#projects .container .drzac {
  width: 100%;
  height: 350px;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#projects .container .drzac .my-project {
  width: 30%;
  height: 70%;
  margin-top: 40px;
  border-radius: 30px;
}

#projects .container .drzac .my-project .pozadi {
  width: 100%;
  height: 100%;
  border-radius: 28px;
}

#projects .container .drzac .my-project .pozadi a {
  display: none;
  color: white;
  text-decoration: none;
  position: relative;
  top: 80px;
}

#projects .container .drzac .my-project .pozadi a:hover {
  color: blue;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#projects .container .drzac .my-project .pozadi:hover {
  background-color: rgba(128, 128, 128, 0.8);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#projects .container .drzac .my-project .pozadi:hover a {
  display: block;
}

#projects .container .drzac .srbi {
  background-image: url(../img/srbi.png);
  background-size: cover;
}

#projects .container .drzac .portfolio {
  background-image: url(../img/portfolio.png);
  background-size: cover;
}

#projects .container .drzac .fitness {
  background-image: url(../img/fitness.png);
  background-size: cover;
}

#freelance {
  width: 99.5%;
  height: 400px;
  margin: 0px auto;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 150px;
}

#freelance .freelance-pozadina {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  text-align: center;
}

#freelance .freelance-pozadina .polje-text {
  width: 60%;
  height: 300px;
  margin: 0px auto;
  position: relative;
  top: 60px;
}

#freelance .freelance-pozadina .polje-text h2 {
  font-weight: lighter;
  font-size: 50px;
}

#freelance .freelance-pozadina .polje-text h2 span {
  color: blue;
}

#freelance .freelance-pozadina .polje-text .polje-text-opis {
  margin-top: 30px;
}

#freelance .freelance-pozadina .polje-text .polje-text-opis p {
  line-height: 25px;
  font-size: 20px;
  color: #303030;
}

#freelance .freelance-pozadina .polje-text .polje-kontakt {
  width: 15%;
  height: 45px;
  background-color: blue;
  border-radius: 100px;
  margin: 80px auto;
}

#freelance .freelance-pozadina .polje-text .polje-kontakt a {
  color: white;
  text-decoration: none;
  position: relative;
  top: 10px;
  font-size: 20px;
}

#freelance .freelance-pozadina .polje-text .polje-kontakt:hover {
  background-color: white;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#freelance .freelance-pozadina .polje-text .polje-kontakt:hover a {
  color: blue;
}

#contact {
  width: 80%;
  margin: 0px auto;
  margin-top: 150px;
}

#contact .container {
  height: 550px;
  text-align: center;
}

#contact .container h2 {
  font-weight: lighter;
  font-size: 40px;
}

#contact .container .contact-form {
  width: 50%;
  height: 450px;
  margin: 50px auto;
}

#contact .container .contact-form .text {
  width: 100%;
  border: 4px solid #706e6e;
  height: 50px;
  margin-bottom: 40px;
  border-radius: 10px;
  font-size: 18px;
}

#contact .container .contact-form #textarea {
  width: 100%;
  border: 4px solid #706e6e;
  border-radius: 10px;
  font-size: 18px;
}

#contact .container .contact-form input[type=submit] {
  margin-top: 20px;
  width: 25%;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 17px;
}

#contact .container .contact-form input[type=submit]:hover {
  background-color: #303030;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

footer {
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
}

footer .container {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .social {
  width: 40%;
  height: 80%;
  margin-top: 30px;
}

footer .container .social a {
  color: white;
  font-size: 17px;
  line-height: 30px;
}

footer .container .social a:hover {
  color: #706e6e;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

footer .container .copyright {
  width: 20%;
  height: 20%;
  margin-top: 80px;
}

@media only screen and (max-width: 1025px) {
  #meni .container #nav-bar ul li {
    margin-left: 20px;
  }
  #predstavljanje .container .levo .plava {
    font-size: 20px;
  }
  #edu-exp .container .edu-exp-div .blok .details .plavo p {
    font-size: 14px;
  }
  #edu-exp .container .edu-exp-div .blok .details .details-text .p-text {
    margin-top: 5px;
  }
  #freelance .freelance-pozadina .polje-text .polje-kontakt a {
    font-size: 15px;
  }
}

#ikonice {
  width: 100%;
  height: 40px;
  background-color: #303030;
}

#ikonice .ikonice-centar {
  margin: 0px auto;
  width: 20%;
  height: 30px;
  position: relative;
  top: 8px;
  text-align: center;
}

#ikonice .ikonice-centar a {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

#ikonice .ikonice-centar a i {
  font-size: 20px;
}

#ikonice .ikonice-centar a:hover {
  color: blue;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media only screen and (max-width: 770px) {
  #meni .container #nav-bar ul li a {
    font-size: 14px;
  }
  #pocetak #intro .it-student p {
    font-size: 15px;
  }
  #predstavljanje .container .levo .ime {
    font-size: 40px;
  }
  #predstavljanje .container .levo .plava {
    font-size: 16px;
  }
  #predstavljanje .container .levo .tekst {
    font-size: 15px;
  }
  #predstavljanje .container .levo #cv {
    width: 40%;
  }
  #edu-exp .container .edu-exp-div .blok .details .plavo p {
    top: 5px;
  }
  #edu-exp .container .edu-exp-div .blok .details .godine p {
    font-size: 14px;
  }
  #edu-exp .container .edu-exp-div .blok .details .details-text h4 {
    font-size: 15px;
  }
  #edu-exp .container .edu-exp-div .blok .details .details-text .p-text {
    font-size: 14px;
  }
  #services {
    margin-top: 0px;
  }
  #services .container {
    height: 600px;
  }
  #services .container .services-all {
    height: 540px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #services .container .services-all .service-block {
    width: 45%;
    height: 30%;
  }
  #services .container .services-all .gore .ikonica i {
    margin-top: 10px;
  }
  #projects {
    margin-top: 50px;
  }
  #projects .container {
    height: 650px;
  }
  #projects .container .drzac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 550px;
  }
  #projects .container .drzac .my-project {
    width: 45%;
    height: 40%;
  }
  #freelance .freelance-pozadina .polje-text h2 {
    font-size: 35px;
  }
  #freelance .freelance-pozadina .polje-text .polje-kontakt {
    width: 20%;
  }
}

@media only screen and (max-width: 427px) {
  #meni .container #logo a {
    font-size: 15px;
  }
  #meni .container #nav-bar {
    width: 60%;
  }
  #meni .container #nav-bar ul li {
    margin-top: 0px;
    margin-left: 5px;
  }
  #meni .container #nav-bar ul li a {
    font-size: 12px;
  }
  #pocetak #intro .name {
    font-size: 30px;
  }
  #pocetak #intro .it-student {
    width: 70%;
    height: 60px;
  }
  #predstavljanje .container {
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #predstavljanje .container .desno, #predstavljanje .container .levo {
    height: 48%;
    width: 100%;
  }
  #predstavljanje .container .levo {
    margin-top: 30px;
  }
  #skills .container {
    height: 800px;
  }
  #skills .container .skills-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #skills .container .skills-bar .skills-bar-tabla {
    width: 100%;
    height: 48%;
  }
  #edu-exp .container .edu-exp-div h3 {
    font-size: 20px;
  }
  #edu-exp {
    margin-top: 0px;
  }
  #edu-exp .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 1000px;
  }
  #edu-exp .container .edu-exp-div {
    width: 100%;
    height: 60%;
  }
  #edu-exp .container .edu-exp-div .blok .details .plavo {
    width: 44%;
  }
  #services .container {
    height: 1000px;
  }
  #services .container .services-all .service-block {
    width: 100%;
    height: 30%;
    margin-top: 30px;
  }
  #services .container h2 {
    font-size: 35px;
  }
  #services .container .small-service {
    width: 22%;
  }
  #projects .container {
    height: 800px;
  }
  #projects .container .drzac .my-project {
    width: 100%;
    height: 33%;
  }
  #freelance .freelance-pozadina .polje-text h2 {
    font-size: 30px;
  }
  #freelance .freelance-pozadina .polje-text .polje-text-opis p {
    line-height: 20px;
    font-size: 15px;
  }
  #freelance .freelance-pozadina .polje-text .polje-kontakt {
    width: 32%;
  }
  #contact .container .contact-form {
    width: 80%;
  }
  #contact .container .contact-form .text {
    height: 40px;
    font-size: 15px;
  }
  #contact .container .contact-form #textarea {
    font-size: 15px;
  }
  #contact .container .contact-form input[type=submit] {
    width: 30%;
  }
  footer .container .social a {
    font-size: 15px;
  }
  footer .container .copyright {
    font-size: 15px;
  }
  #ikonice .ikonice-centar {
    width: 50%;
  }
}

@media only screen and (max-width: 377px) {
  #meni .container #logo a {
    font-size: 13px;
  }
  #meni .container #nav-bar {
    width: 68%;
  }
  #predstavljanje .container .levo #cv a {
    font-size: 14px;
  }
  #edu-exp .container .edu-exp-div .blok .details .plavo, #edu-exp .container .edu-exp-div .blok .details .godine {
    width: 50%;
  }
  #services .container .small-service {
    width: 27%;
  }
  #services .container .services-all .service-block {
    margin-top: 33px;
  }
  #freelance .freelance-pozadina .polje-text .polje-kontakt {
    width: 37%;
    height: 40px;
  }
  footer .container .copyright {
    font-size: 12px;
  }
}

@media only screen and (max-width: 322px) {
  #meni .container #logo a {
    font-size: 11px;
  }
  #meni .container #nav-bar ul li a {
    font-size: 10px;
  }
  #pocetak #intro .it-student {
    width: 75%;
  }
  #predstavljanje .container .levo .ime {
    font-size: 35px;
  }
  #predstavljanje .container .levo .tekst {
    line-height: 20px;
  }
  #predstavljanje .container .levo .tackica {
    font-size: 15px;
  }
  #predstavljanje .container .levo #cv {
    width: 47%;
  }
  #projects .container h2 {
    font-size: 35px;
  }
  #freelance .freelance-pozadina .polje-text h2 {
    font-size: 25px;
  }
  #freelance .freelance-pozadina .polje-text .polje-kontakt {
    width: 43%;
  }
  #contact .container .contact-form input[type=submit] {
    width: 34%;
  }
  footer .container .social a {
    font-size: 12px;
  }
  footer .container .copyright {
    font-size: 11px;
  }
  #services .container h2 {
    font-size: 30px;
  }
  #ikonice .ikonice-centar {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */